.columns {
  padding: 5% 5% 5% 5%;
}

.main-div {
  display: flex;
  justify-content: space-evenly;
}

.inner-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inner-div img {
  padding: 5px 5px 5px 5px;
}

.name {
  font-family: Rubik;
  font-size: 36px;
  line-height: 43px;
  color: #B26E63;
  margin-bottom: 32px;
}

.about {
  font-family: Karla;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  margin-bottom: 32px;
}

.icons-div {
  display: flex;
}

.icons-div img {
  margin-right: 15px;
}